html, body {
  font-family: 'Raleway';
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}

h1 {
  font-weight: 200;
  font-size: 3em;
  margin: 0;
  color: white;
}

h2 {
  font-weight: 200;
  font-size: 1em;
  margin: 0;
  color: white;
}

h3 {
  font-weight: normal;
  font-size: 2em;
}

h4 {
  font-weight: normal;
  font-size: 1.5em;
  margin: 0;
}

p {
  margin-block-start: 0;
}

a {
  text-decoration: none;
  color: #0000EE;
}

a:visited {
  color: #0000EE;
}
